body {
  background-color: #232323;
}

#main {
  overflow: hidden;
}
.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.square :hover {
  cursor: grab;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1 {
  color: aliceblue;
}

/* #message {
  color: white;
} */

h2 {
  color: white;
}

#stripe {

  display: flex;
  max-width: 100%;
  background-color: aliceblue;
  justify-content: space-around;
  color: black;
}

.selected {
  background-color: chocolate;
}