body {
  background-color: #232323;
  margin: 0;
}

#main {
  overflow: hidden;
}
.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50px;
  cursor: pointer;
}

/* .fade_out {
  animation: fade-out 1s;
  animation-duration: ;
} */

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1 {
  color: aliceblue;
  margin-top: 0;
  
}

h2 {
  color: white;
  margin-bottom: 0;
}

#stripe {
  display: flex;
  max-width: 100%;
  background-color: aliceblue;
  justify-content: space-around;
  color: black;
}

.selected {
  background-color: chocolate;
}

input[type="button"] {
  outline: none;
}

#heading {
  text-align: center;
}

button {
  cursor: pointer;
}
